.header {
    text-align: center;
    font-size: 50px;
    color: rgba(175, 47, 47, 0.15);
}

body {
    margin: 0;
    padding: 0;
}

.delete {
    font-size: 50px;
    color: rgba(175, 47, 47, 0.15);
}
.delete :hover {
    color: rgb(175, 47, 47);
}